<style>
    h3{
        color: #0D2434;
    }
    h5{
        color:#1B4F72; 
    }
</style>

<!DOCTYPE html>
<html lang="es"> 

    <head>    

    </head>

    <body>    
        {% for articulo in articulos %}
            <h3>{{articulo.nombre}}</h3>
            <h5>{{articulo.codigo}} - <i> {{articulo.fecha}} </h5>
            <figure><img src="{{articulo.imagen}}"/></figure>
            <br>
        {% endfor %}
    </body>      

</html>